#nav{
  height:83px;
  width:100vw;
  position:fixed;
  z-index:999999999999999999999;
}
#nav img{
  margin-left:calc(50% - 175px);
  margin-top:20px;
}
#loading{
  position:fixed;
  height:100%;
  width:100%;
  background-color:rgba(0, 0, 0, 0.7);
  z-index: 99999999;
  transition:all 500ms;
}
#loading img{
  width:75px;
  height:75px;
  z-index:999999999;
  margin-left:calc(50% - 37.5px);
  margin-top:calc(50vh - 37.5px);
}
#footer_{
  height:calc(100% - 200px);
  float:left;
  bottom:0;
  width:100vw;
}
.navli{
  margin-left:20px;
}
#main2{
  color:white !important;
}
#main1{
  height:calc(100vh - 200px);
  background-attachment: fixed;
  padding:100px 0;
}
#main2{
  height:calc(100vh - 200px);
  padding:100px 0;
  background-color:rgba(0, 0, 0, 0);
  background-attachment: fixed;
}
#main3{
  height:calc(100vh - 200px);
  padding:100px 0;
  background-attachment: fixed;
}
#main4{
  height:calc(100vh - 200px);
  padding:100px 0;
  padding-bottom:40px;
  background-attachment: fixed;
  padding-bottom:100px;
}
#main5{
  height:calc(100vh - 200px);
  padding:100px 0;
}
.bottom_bt{
  bottom:0px;
  /*position:absolute;*/
}
.top_bt{
  top:0;
}
.uk-vertical-align-middle h1{
  color:white;
  text-shadow: 0px 0px 10px black;
}
.prd{
  margin-bottom:20px !important;
  height:100%;
  width:100%;
}
.uk-grid{
  margin-top:0 !important;
}
@media screen and (max-width: 768px) {
  .prd{
    height:auto;
    width:auto;
  }
  #footer{
  }
  #main4{
    height:auto;
  }
}
.h2st{
  text-shadow:0px 0px 5px black;
  color:white;
}
.uk-icon-large{
  margin-bottom:10px;
}
.uk-panel-box{
  background-color:rgba(0, 0, 0, 0.30) !important;
}
.uk-panel{
  margin-bottom:10px !important;
}
#gototop{
  position:fixed;
  bottom:20px;
  right:20px;
}
.uk-icon-button[href="#top"]{
  background-color:black;
  border-color:black;
  color:white;
}
.h2st a{
  color:white;
}
#background{
  position:fixed;
  z-index:-1;
  height:100%;
  background: url("/img/default.jpeg") 50% 50% no-repeat;
  width:100vw;
  transition:background 2s;
}
asdasd
.profile{
  padding:30px;
  border-radius: 10px;
  max-width: 180px;
  margin: 0 auto;
}
.uk-navbar-nav > li.uk-active > a[href="#top"]{
  background-color:rgba(0, 0, 0, 0);
}
::-webkit-scrollbar {width:0px;height:0px;}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {width:0px;height:0px;}
::-webkit-scrollbar-track {width:0px;height:0px;}
::-webkit-scrollbar-thumb {width:0px;height:0px;}
html {scrollbar-3dLight-Color: rgba(0, 0, 0, 0); scrollbar-arrow-color: rgba(255, 255, 255, 0); scrollbar-base-color: rgba(255, 255, 255, 0); scrollbar-Face-Color: rgba(255, 255, 255, 0); scrollbar-Track-Color: rgba(255, 255, 255, 0); scrollbar-DarkShadow-Color: rgba(255, 255, 255, 0); scrollbar-Highlight-Color: rgba(255, 255, 255, 0); scrollbar-Shadow-Color: rgba(0, 0, 0, 0)}
*::-moz-selection {
    background-color: #56C82C;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color: #f4f5f6;;
}
*::selection {
  background-color: #56C82C;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  color: #fff;;
}
a{
  color:white;
  text-decoration: none;
}

p{
  font-family:"NanumGothic";
}
.center-block {
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#footer{
  position:fixed;;
  bottom:0;
  width:100%;
  height:60px;
  background-color:rgba(0,0,0,0);
  float:left;
}
#footer .uk-vertical-align-middle p{
  text-shadow:0px 0px 4px gray;

}
#footer .uk-vertical-align-middle p a{
  color: yellow;
}
